<html>
<head>
    <title>FeatureServer : Exception Report</title>
</head>
<body>
<h1>FeatureServer : Exception Report</h1>
<hr noshade="noshade" />

    <table cellpadding="5" border="0">
        <thead>
            <tr>
                <th>exceptionCode</th><th>locator</th><th>layer</th><th>ExceptionText</th><th>ExceptionDump</th>
            </tr>
        </thead>
        <tbody>
    % for exception in exception_report:
            <tr>
                <td>${exception.code}</td>
                <td>${exception.locator}</td>
                <td>${exception.layer}</td>
                <td>${exception.message}</td>
                <td>${exception.dump}</td>
            </tr>
    % endfor
        </tbody>

    </table>
    <hr noshade="noshade" />
</body>
</html>
